*.d
*.o
*.a
*.tex
*param.h
*param.c
*modules.h
*.tab.h
*.tab.c
diskmodel/include/
diskmodel/layout_g4_tools/g4_skews
diskmodel/tests/layout_bogon
diskmodel/tests/layout_raw
diskmodel/tests/layout_simple
diskmodel/tests/layout_simple_0t
diskmodel/tests/layout_skew
diskmodel/tests/layout_track
diskmodel/tests/mech_seek
include/
libddbg/include/
libparam/include/
libparam/libparam.tab.c
libparam/libparam.tab.h
memsmodel/include/
memsmodel/mems_seektest
src/disksim
src/hplcomb
src/partial
src/raidsim
src/armsim
src/rms
src/syssim
src/stamps
.cproject
.project
test/*

